name: Build and Push Container Image to GHCR

on:
  release:
    types: [published]
  push:
    branches:
      - main

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tags
        id: vars
        run: |
          if [[ "${{ github.event_name }}" == "release" ]]; then
            echo "TAGS=ghcr.io/robertzaage/grobro:latest,ghcr.io/robertzaage/grobro:${{ github.ref_name }}" >> $GITHUB_ENV
          else
            echo "TAGS=ghcr.io/robertzaage/grobro:dev" >> $GITHUB_ENV
          fi

      - name: Build and push to GHCR
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          file: ./Dockerfile
          push: true
          tags: ${{ env.TAGS }}
          provenance: false
